
.main{
    width:1200px;
    margin:0 auto;
    height: calc(100% - 160px);
}

.pass_box{
    width:1200px;
    height: 100%;
    border:20px solid #e5e9ec;
    border-bottom:none;
    box-sizing:border-box;
    border-top:none;
}

.box_left{
    width: 200px;
    text-align: right;
    display: inline-block;
    margin-right: 20px;
    vertical-align: top;
    margin-top: 20px;
}
.box_right{
    width: 650px;
    text-align: left;
    display: inline-block;
    margin-top: 20px;
}
.pass_box ul li{
    line-height: 70px;
    font-size: 18px;
}
.box_right ul li span{
    font-size: 14px;
    margin-left: 10px;
    color: #f00;
}
.pass_box ul li input{
    width: 345px;
    height: 38px;
    box-sizing: border-box;
    padding: 0 6px;
    font-size: 14px;
    border-radius: 4px;
    outline: none;
    border: 1px solid silver;
}
.box_right>div{
    margin-top: 35px;
}
.box_right>div button{
    width: 110px;
    height: 48px;
    box-sizing: border-box;
    background: #5490cc;
    color: #ffffff;
    border-radius: 4px;
    cursor: pointer;
    margin-right: 40px;
    font-size: 22px;
    outline: none;
    border: none;
}
#con_change{
    background-color:#076bce;
}

.change_info{
    font-size: 14px;
    color: #f00;
    line-height: 30px;
}

input:-webkit-autofill {
    -webkit-box-shadow: 0 0 0px 1000px #fff inset;
}


