body {
    color:#1f1e1e;
}
.review-list {
    margin-top:20px;
    width:100%;
}
.review-list li {
    float:left;
    width:200px;
    height:36px;
    border: 1px solid #2d92f7;
    text-align:center;
    line-height:36px;
    font-size:16px;
    margin-right:10px;
    border-radius:5px;
}
.review-list li a {
    color:#1f1e1e;
    /* width:205px; */
    display:inline-block;
    letter-spacing: 1px;
    font-size: 16px;
    display: inline-block;
    width: 100%;
}
.review-list li.current {
    background-color: #2d92f7;
    position: relative;
}
.review-list li.current::after{
    display: inline-block;
    width: 0.8em;
    height: 0.8em;
    background: #2d92f7;
    -ms-transform:translateX(-50%) rotate(45deg);
    transform:translateX(-50%) rotate(45deg);
    content: '.';
    color: transparent;
    position: absolute;
    left:50%;
    bottom:-0.4em;
}
.review-list li.current a {
    color: #ffffff;
}
.select-item {
    margin:30px 0px 20px 0;
    padding:15px 10px;
    background: #e5e9ec;
    border-radius: 2px;
}
.select-item li {
    float:left;
    margin-right:30px;
    font-size:16px;
}
.select-item li select {
    width:190px;
    height:35px;
    border:1px solid silver;
    border-radius: 4px;
    font-size:15px;
    padding-left:5px;
}
.select-item .select-is a ,.select-item .select-is2 a{
    display:inline-block;
    color:#fff;
    background-color:#2d92f7;
    border-radius:5px;
    padding:0 30px;
    line-height:35px;
    font-size:18px;
}

.pass-con {
    position:relative;
}
.pass-confr{
    position:absolute;
    top:-36px;
    right:10px;
}
.pass-con a {
    width:75px;
    height:35px;
    line-height:35px;
    background-color:#00cc1d;
    font-size:16px;
    display:inline-block;
    text-align:center;
    border-radius:5px;
    color:#fff;
}
#pass_no {
    background-color:#cc0000;
    margin-left:20px;
}

.table_mark {width:100%;text-align:center;}
.table_mark tr { line-height:45px; }
.table_mark thead { height:45px; font-size:16px; color:#1f1e1e; background-color:#d1e8ff; }
.table_mark thead th:nth-of-type(3) {
    position:relative;
}
.table_mark tbody {
    font-size:14px;
}
.table_mark tbody tr td:nth-of-type(3) {
    text-align:left;
    padding:0 15px;
    /* max-width:320px; */
    /* overflow:hidden; */
    /* text-overflow:ellipsis; */
    /* white-space:nowrap; */
}
.table_mark tbody .preview_file {
    width:70px;
    cursor:pointer;
    color:#6a98db;
}

.table_mark tbody .download_file {
    width:70px;
    cursor:pointer;
    color:#6a98db;
}

.table_mark .sele-all {
    position:absolute;
    width:30px;
    height:24px;
    border:1px solid #999;
    top:9px;
    left:12px;
    line-height:24px;
    cursor:pointer;
    border-radius:5px;
    text-align:center;
    background-color:#fff;
    font-size:12px;
}
.table_mark .sele-icon {
    width:30px;
    height:30px;
    background:url("../../images/icon-list.png") no-repeat;
    vertical-align:middle;
    cursor:pointer;
}
.table_mark .no-icon {
    background-position:-251px -12px;
}
.table_mark .is-icon {
    background-position:-220px -12px;
}
.data-none {
    line-height:50px;
    text-align:center;
    font-size:18px;
}



.modal {
    position:fixed;
    top:-300px;
    left:-300px;
    right:-300px;
    bottom:-300px;
    background:rgba(0, 0, 0, 0.5);
    z-index:100000;
    display:none;
}
.modal .modal_dialog {
    position:fixed;
    top:50%;
    left:50%;
    width:400px;
    height:250px;
    margin-left:-200px;
    margin-top:-110px;
    background:#fff;
    border-radius:5px;
    color:#fff;
    font-size:16px;
    overflow:hidden;
    z-index:999999;
}
.modal .title {
    height:10px;
    padding-left:20px;
    line-height:40px;
    background:#076bce;
}

.modal-con {
    text-align:center;
}

.modal-con p {
    margin:50px auto;
    color:#1f1f1f;
    text-align:center;
    font-size:16px;
    line-height:26px;
}

#login_none{
    display:inline-block;
    padding:7px 25px;
    border-radius:5px;
    background-color:#076bce;
    color:#fff;
    font-size:16px;
}


